body {
  font-family: Jost;
}
.display-1 {
  font-family: 'bauhaus-93';
  font-size: 5.5rem;
  line-height: 1.2;
}
.display-1 > .mbr-iconfont {
  font-size: 8.8rem;
}
.display-2 {
  font-family: 'bauhaus-93';
  font-size: 2.8rem;
  line-height: 1.4;
}
.display-2 > .mbr-iconfont {
  font-size: 4.48rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'bauhaus-93';
  font-size: 1.6rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 2.56rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.85rem;
    font-size: calc( 2.5749999999999997rem + (5.5 - 2.5749999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.5749999999999997rem + (5.5 - 2.5749999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem !important;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #5758e0 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #5b686b !important;
}
.bg-danger {
  background-color: #465052 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-primary:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus {
  background: linear-gradient(to left, #465052, #ffffff);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #465052 !important;
  border-color: #465052 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #232829 !important;
  border-color: #232829 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #232829 !important;
  border-color: #232829 !important;
}
.btn-secondary:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background: linear-gradient(to left, #465052, #465052);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus {
  background: linear-gradient(to left, #465052, #82786e);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-success,
.btn-success:active {
  background-color: #5758e0 !important;
  border-color: #5758e0 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2526c6 !important;
  border-color: #2526c6 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2526c6 !important;
  border-color: #2526c6 !important;
}
.btn-success:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus {
  background: linear-gradient(to left, #465052, #5758e0);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-warning,
.btn-warning:active {
  background-color: #5b686b !important;
  border-color: #5b686b !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #384042 !important;
  border-color: #384042 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #384042 !important;
  border-color: #384042 !important;
}
.btn-warning:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus {
  background: linear-gradient(to left, #465052, #5b686b);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-danger,
.btn-danger:active {
  background-color: #465052 !important;
  border-color: #465052 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #232829 !important;
  border-color: #232829 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #232829 !important;
  border-color: #232829 !important;
}
.btn-danger:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus {
  background: linear-gradient(to left, #465052, #465052);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-white,
.btn-white:active {
  background-color: #f3f3f3 !important;
  border-color: #f3f3f3 !important;
  color: #737373 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #737373 !important;
  background-color: #cdcdcd !important;
  border-color: #cdcdcd !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #737373 !important;
  background-color: #cdcdcd !important;
  border-color: #cdcdcd !important;
}
.btn-white:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:hover,
.btn-white:focus {
  background: linear-gradient(to left, #465052, #f3f3f3);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-white:hover {
  color: white!important;
}
.btn-black,
.btn-black:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus {
  background: linear-gradient(to left, #465052, #000000);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-primary-outline {
  color: white!important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus {
  background: linear-gradient(to left, #465052, #ffffff);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-secondary-outline {
  color: white!important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #465052;
  color: #465052;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #465052;
  border-color: #465052;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #465052 !important;
  border-color: #465052 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus {
  background: linear-gradient(to left, #465052, #465052);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-info-outline {
  color: white!important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #82786e;
  color: #82786e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus {
  background: linear-gradient(to left, #465052, #82786e);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-success-outline {
  color: white!important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #5758e0;
  color: #5758e0;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #5758e0;
  border-color: #5758e0;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #5758e0 !important;
  border-color: #5758e0 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus {
  background: linear-gradient(to left, #465052, #5758e0);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-warning-outline {
  color: white!important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #5b686b;
  color: #5b686b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #5b686b;
  border-color: #5b686b;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #5b686b !important;
  border-color: #5b686b !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus {
  background: linear-gradient(to left, #465052, #5b686b);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-danger-outline {
  color: white!important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #465052;
  color: #465052;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #465052;
  border-color: #465052;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #465052 !important;
  border-color: #465052 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus {
  background: linear-gradient(to left, #465052, #465052);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-black-outline {
  color: white!important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus {
  background: linear-gradient(to left, #465052, #333333);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.btn-white-outline {
  color: white!important;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #f3f3f3;
  color: #f3f3f3;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #737373;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #737373 !important;
  background-color: #f3f3f3 !important;
  border-color: #f3f3f3 !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus {
  background: linear-gradient(to left, #465052, #f3f3f3);
  border-color: transparent!important;
  background-size: 110%;
  background-position: center;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #465052 !important;
}
.text-success {
  color: #5758e0 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #5b686b !important;
}
.text-danger {
  color: #465052 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ffffff !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #758689 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #adaef0 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b2aba4 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e9b9e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #758689 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #5b686b;
}
.alert-danger {
  background-color: #465052;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #9ba7aa;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #bac2c4;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #465052 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.btn {
  transition: none;
}
.cid-s1YLZwONfz .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s1YLZwONfz .btn {
  white-space: nowrap;
}
.cid-s1YLZwONfz .nav-link,
.cid-s1YLZwONfz .icons-menu .mbr-iconfont,
.cid-s1YLZwONfz .dropdown-item {
  transition: all 0.1s;
}
.cid-s1YLZwONfz .nav-link:hover,
.cid-s1YLZwONfz .icons-menu .mbr-iconfont:hover,
.cid-s1YLZwONfz .dropdown-item:hover {
  color: #465052 !important;
}
@media (max-width: 992px) {
  .cid-s1YLZwONfz .icons-menu {
    padding: 1rem 0!important;
  }
}
.cid-s1YLZwONfz .container {
  display: flex;
  margin: auto;
}
.cid-s1YLZwONfz .navbar {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 77px;
  transition: all .3s;
  background: #040402;
}
.cid-s1YLZwONfz .navbar.opened {
  transition: all .3s;
}
.cid-s1YLZwONfz .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s1YLZwONfz .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-s1YLZwONfz .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s1YLZwONfz .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s1YLZwONfz .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-s1YLZwONfz .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s1YLZwONfz .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s1YLZwONfz .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s1YLZwONfz .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s1YLZwONfz .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s1YLZwONfz .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s1YLZwONfz .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s1YLZwONfz .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s1YLZwONfz .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s1YLZwONfz .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s1YLZwONfz .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s1YLZwONfz .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s1YLZwONfz .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s1YLZwONfz .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s1YLZwONfz .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s1YLZwONfz .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s1YLZwONfz .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s1YLZwONfz .navbar.navbar-short {
  background: #040402 !important;
  min-height: 60px;
}
.cid-s1YLZwONfz .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s1YLZwONfz .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s1YLZwONfz .dropdown-menu {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}
.cid-s1YLZwONfz .nav-dropdown .link {
  padding: 0.4rem 1rem!important;
  margin: .2em 0.5rem;
}
.cid-s1YLZwONfz .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s1YLZwONfz .mbr-iconfont {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s1YLZwONfz .navbar-caption {
  padding-right: 4rem;
}
.cid-s1YLZwONfz .navbar-nav {
  justify-content: flex-end;
  width: -webkit-fill-available;
}
.cid-s1YLZwONfz .dropdown-menu,
.cid-s1YLZwONfz .navbar.opened {
  background: #191919 !important;
}
.cid-s1YLZwONfz .nav-item:focus,
.cid-s1YLZwONfz .nav-link:focus {
  outline: none;
}
.cid-s1YLZwONfz .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s1YLZwONfz .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s1YLZwONfz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s1YLZwONfz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s1YLZwONfz .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s1YLZwONfz .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
}
.cid-s1YLZwONfz .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s1YLZwONfz .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s1YLZwONfz .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s1YLZwONfz .dropdown-item.active,
.cid-s1YLZwONfz .dropdown-item:active {
  background-color: transparent;
}
.cid-s1YLZwONfz .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s1YLZwONfz .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s1YLZwONfz .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s1YLZwONfz .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #040402;
}
.cid-s1YLZwONfz .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s1YLZwONfz .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s1YLZwONfz ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s1YLZwONfz .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s1YLZwONfz button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s1YLZwONfz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s1YLZwONfz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s1YLZwONfz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s1YLZwONfz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s1YLZwONfz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s1YLZwONfz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s1YLZwONfz nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s1YLZwONfz nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s1YLZwONfz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s1YLZwONfz .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s1YLZwONfz a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s1YLZwONfz .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 160px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-s1YLZwONfz .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s1YLZwONfz .navbar {
    height: 77px;
  }
  .cid-s1YLZwONfz .navbar.opened {
    height: auto;
  }
  .cid-s1YLZwONfz .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s1YLZwONfz .nav-link {
  margin: auto!important;
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  transition: all 0.3s;
}
.cid-s1YLYYtmhw {
  padding-top: 105px;
  padding-bottom: 0px;
  background-color: #040402;
}
.cid-s1YLYYtmhw H1 {
  color: #ffffff;
  text-align: center;
}
.cid-s1YLYYtmhw h1 {
  background: linear-gradient(to left, #465052, currentColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-s1YLYYtmhw img {
  width: 100%;
}
.cid-s1YLYYtmhw .mbr-text,
.cid-s1YLYYtmhw .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-sNu90xiDA0 {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-sNu90xiDA0 .line {
  width: 55px;
  margin-bottom: 0.5rem;
  height: 5px;
  display: inline-block;
  background: linear-gradient(to left, #465052, #ffffff);
}
.cid-sNu90xiDA0 .btn-col {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}
@media (max-width: 767px) {
  .cid-sNu90xiDA0 .btn-col {
    justify-content: center;
  }
}
.cid-sNu90xiDA0 .mbr-text,
.cid-sNu90xiDA0 .mbr-section-btn {
  color: #999999;
}
.cid-sNu90xiDA0 p {
  margin: 0;
}
.cid-sNue17Iu92 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000000;
}
.cid-sNue17Iu92 img {
  width: 100%;
  transition: all 0.6s ease-in-out;
  height: 260px;
  object-fit: cover;
}
.cid-sNue17Iu92 .card-wrapper {
  background: #191919;
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-sNue17Iu92 .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-sNue17Iu92 .first:hover:before {
  content: none;
}
.cid-sNue17Iu92 .first:before {
  position: absolute;
  top: -1rem;
  z-index: -1;
  left: 0rem;
  width: 300px;
  height: 300px;
  background: linear-gradient(to left, #465052, #ffffff);
  content: "";
}
.cid-sNue17Iu92 .last:hover:after {
  content: none;
}
.cid-sNue17Iu92 .last:after {
  position: absolute;
  bottom: -1rem;
  right: 0rem;
  width: 300px;
  z-index: -1;
  height: 300px;
  background: linear-gradient(to left, #465052, #ffffff);
  content: "";
}
.cid-sNue17Iu92 .mbr-section-text {
  color: #999999;
}
.cid-sNue17Iu92 .card {
  z-index: 1;
  position: relative;
  transition: all 0.3s;
}
.cid-sNue17Iu92 .card .img-wrapper {
  overflow: hidden;
}
.cid-sNue17Iu92 .card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.cid-sNue17Iu92 .card:hover .card-wrapper {
  background: linear-gradient(to left, #465052, #ffffff);
  color: #ffffff !important;
}
.cid-sNue17Iu92 .card:hover .card-wrapper .mbr-section-text {
  color: #ffffff !important;
}
.cid-sNuBVeRUnq {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-sNuBVeRUnq .line {
  width: 55px;
  margin-bottom: 0.5rem;
  height: 5px;
  display: inline-block;
  background: linear-gradient(to left, #465052, #ffffff);
}
.cid-sNuBVeRUnq .btn-col {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}
@media (max-width: 767px) {
  .cid-sNuBVeRUnq .btn-col {
    justify-content: center;
  }
}
.cid-sNuBVeRUnq .mbr-text,
.cid-sNuBVeRUnq .mbr-section-btn {
  color: #ffffff;
}
.cid-sNuBVeRUnq p {
  margin: 0;
}
.cid-sNuBVeRUnq .mbr-section-title,
.cid-sNuBVeRUnq .title-wrapper {
  text-align: left;
}
.cid-sNu8CqfLce {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000000;
}
.cid-sNu8CqfLce img {
  width: 100%;
  transition: all 0.6s ease-in-out;
  height: 260px;
  object-fit: cover;
}
.cid-sNu8CqfLce .link-wrapper {
  margin-bottom: 1rem;
}
.cid-sNu8CqfLce .link-wrapper .mbr-iconfont {
  border: 1px solid #999999;
  border-radius: 50%;
  padding: 8px;
  font-size: 0.8rem;
  color: #999999;
}
.cid-sNu8CqfLce .img-wrapper .mbr-iconfont {
  font-size: 3rem;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 1rem;
  background: linear-gradient(to left, #465052, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-sNu8CqfLce .card-wrapper {
  background: #191919;
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-sNu8CqfLce .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-sNu8CqfLce .first:hover:before {
  content: none;
}
.cid-sNu8CqfLce .first:before {
  position: absolute;
  top: -1rem;
  z-index: -1;
  left: 0rem;
  width: 300px;
  height: 200px;
  background: linear-gradient(to left, #465052, #ffffff);
  content: "";
}
.cid-sNu8CqfLce .last:hover:after {
  content: none;
}
.cid-sNu8CqfLce .last:after {
  position: absolute;
  bottom: -1rem;
  right: 0rem;
  width: 300px;
  z-index: -1;
  height: 200px;
  background: linear-gradient(to left, #465052, #ffffff);
  content: "";
}
.cid-sNu8CqfLce .mbr-section-text {
  color: #999999;
}
.cid-sNu8CqfLce .card {
  z-index: 1;
  min-height: 200px;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.3s;
}
.cid-sNu8CqfLce .card .img-wrapper {
  overflow: hidden;
}
.cid-sNu8CqfLce .card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.cid-sNu8CqfLce .card:hover .mbr-iconfont {
  color: #ffffff !important;
  border-color: #ffffff;
  -webkit-background-clip: transparent;
  -webkit-text-fill-color: unset;
}
.cid-sNu8CqfLce .card:hover .card-wrapper {
  background: linear-gradient(to left, #465052, #ffffff);
  color: #ffffff !important;
}
.cid-sNu8CqfLce .card:hover .card-wrapper .mbr-section-text {
  color: #ffffff !important;
}
.cid-sNuQyoL3as {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-sNuQyoL3as .card-wrapper {
  display: flex;
  padding: 0 1.5rem;
}
@media (max-width: 1600px) {
  .cid-sNuQyoL3as .card-wrapper {
    padding: 0;
  }
}
.cid-sNuQyoL3as img {
  width: 100%;
}
.cid-sNuQyoL3as .mbr-iconfont {
  font-size: 3rem;
  background: linear-gradient(to left, #465052, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-sNuQyoL3as .line {
  width: 55px;
  margin-bottom: 0.5rem;
  height: 5px;
  display: inline-block;
  background: linear-gradient(to left, #465052, #ffffff);
}
.cid-sNuQyoL3as .icon-wrapper {
  margin: auto;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.cid-sNuQyoL3as h4 {
  margin: 0;
}
.cid-sNuQyoL3as .card-text {
  color: #999999;
}
.cid-sNuQyoL3as .mbr-text {
  color: #000000;
}
.cid-sNuQyoL3as .card-title {
  color: #ffffff;
}
@media (min-width: 1200px) {
  .cid-sNuQyoL3as .mbr-text {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .cid-sNuQyoL3as .card-wrapper {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  .cid-sNuQyoL3as .card-wrapper .icon-wrapper {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sNuQyoL3as .mbr-text {
    padding-bottom: 2rem;
    max-width: 100%;
  }
}
.cid-sNuQyoL3as H3 {
  color: #787324;
}
.cid-sNuQyoL3as .mbr-section-title,
.cid-sNuQyoL3as .title-wrapper {
  color: #ffffff;
}
.cid-sNuQyoL3as .mbr-text,
.cid-sNuQyoL3as .mbr-section-btn {
  color: #999999;
}
.cid-sNuNiu5F8L {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-sNuNiu5F8L .line {
  width: 55px;
  margin-bottom: 0.5rem;
  height: 5px;
  display: inline-block;
  background: linear-gradient(to left, #465052, #ffffff);
}
.cid-sNuNiu5F8L .btn-col {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}
@media (max-width: 767px) {
  .cid-sNuNiu5F8L .btn-col {
    justify-content: center;
  }
}
.cid-sNuNiu5F8L .mbr-text,
.cid-sNuNiu5F8L .mbr-section-btn {
  color: #999999;
}
.cid-sNuNiu5F8L p {
  margin: 0;
}
.cid-sNuN4Tj8Vx {
  padding-top: 90px;
  padding-bottom: 75px;
  background-color: #000000;
}
.cid-sNuN4Tj8Vx img {
  width: 100%;
  transition: all 0.6s ease-in-out;
  height: 260px;
  object-fit: cover;
}
.cid-sNuN4Tj8Vx .link-wrapper {
  margin-bottom: 1rem;
}
.cid-sNuN4Tj8Vx .link-wrapper .mbr-iconfont {
  border: 1px solid #999999;
  border-radius: 50%;
  padding: 8px;
  font-size: 0.8rem;
  color: #999999;
}
.cid-sNuN4Tj8Vx .img-wrapper .mbr-iconfont {
  font-size: 3rem;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 1rem;
  background: linear-gradient(to left, #465052, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-sNuN4Tj8Vx .card-wrapper {
  background: #111111;
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-sNuN4Tj8Vx .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-sNuN4Tj8Vx .first:hover:before {
  content: none;
}
.cid-sNuN4Tj8Vx .first:before {
  position: absolute;
  top: -1rem;
  z-index: -1;
  left: 0rem;
  width: 300px;
  height: 200px;
  background: linear-gradient(to left, #465052, #ffffff);
  content: "";
}
.cid-sNuN4Tj8Vx .last:hover:after {
  content: none;
}
.cid-sNuN4Tj8Vx .last:after {
  position: absolute;
  bottom: -1rem;
  right: 0rem;
  width: 300px;
  z-index: -1;
  height: 200px;
  background: linear-gradient(to left, #465052, #ffffff);
  content: "";
}
.cid-sNuN4Tj8Vx .mbr-section-text {
  color: #ffffff;
}
.cid-sNuN4Tj8Vx .card {
  z-index: 1;
  min-height: 200px;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.3s;
}
.cid-sNuN4Tj8Vx .card .img-wrapper {
  overflow: hidden;
}
.cid-sNuN4Tj8Vx .card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.cid-sNuN4Tj8Vx .card:hover .mbr-iconfont {
  color: #ffffff !important;
  border-color: #ffffff;
  -webkit-background-clip: transparent;
  -webkit-text-fill-color: unset;
}
.cid-sNuN4Tj8Vx .card:hover .card-wrapper {
  background: linear-gradient(to left, #465052, #ffffff);
  color: #ffffff !important;
}
.cid-sNuN4Tj8Vx .card:hover .card-wrapper .mbr-section-text {
  color: #ffffff !important;
}
.cid-sNuLy3mHYj {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #d9dade;
  background-color: #000000;
}
.cid-sNuLy3mHYj p {
  text-align: center;
}
.cid-sNuLy3mHYj .text-copyright {
  width: 100%;
  margin-bottom: 0;
  color: #ffffff;
}
.cid-sNuLy3mHYj .img-logo-footer {
  margin-right: 1rem;
  max-width: 3rem;
}
.cid-sNuLy3mHYj .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}
.cid-sNuLy3mHYj .logo-footer {
  line-height: normal;
}
.cid-sNuLy3mHYj .copyright {
  display: flex;
  align-items: center;
}
.cid-sNuLy3mHYj .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sNuLy3mHYj .media-container-row {
  align-items: center;
  justify-content: space-between;
}
.cid-sNuLy3mHYj .icon-transition span {
  color: #82786e;
  display: block;
  text-align: center;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 1px solid #c1c2c5;
  width: 3em;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-sNuLy3mHYj .icon-transition span:hover {
  background-color: #279e64;
  color: #ffffff;
  -webkit-animation-name: animation-pulse;
  animation-name: animation-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: .9;
}
.cid-sNuLy3mHYj .social-media {
  display: flex;
  justify-content: flex-end;
}
.cid-sNuLy3mHYj .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-sNuLy3mHYj .social-media ul li {
  padding: 4px;
  display: inline-block;
}
@-webkit-keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@media (max-width: 991px) {
  .cid-sNuLy3mHYj .logo-footer {
    text-align: center;
  }
  .cid-sNuLy3mHYj .social-media {
    justify-content: center;
  }
}
.cid-sNva0S0H7T .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sNva0S0H7T .btn {
  white-space: nowrap;
}
.cid-sNva0S0H7T .nav-link,
.cid-sNva0S0H7T .icons-menu .mbr-iconfont,
.cid-sNva0S0H7T .dropdown-item {
  transition: all 0.1s;
}
.cid-sNva0S0H7T .nav-link:hover,
.cid-sNva0S0H7T .icons-menu .mbr-iconfont:hover,
.cid-sNva0S0H7T .dropdown-item:hover {
  color: #465052 !important;
}
@media (max-width: 992px) {
  .cid-sNva0S0H7T .icons-menu {
    padding: 1rem 0!important;
  }
}
.cid-sNva0S0H7T .container {
  display: flex;
  margin: auto;
}
.cid-sNva0S0H7T .navbar {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 77px;
  transition: all .3s;
  background: #040402;
}
.cid-sNva0S0H7T .navbar.opened {
  transition: all .3s;
}
.cid-sNva0S0H7T .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-sNva0S0H7T .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-sNva0S0H7T .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sNva0S0H7T .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sNva0S0H7T .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-sNva0S0H7T .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sNva0S0H7T .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sNva0S0H7T .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sNva0S0H7T .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sNva0S0H7T .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sNva0S0H7T .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-sNva0S0H7T .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sNva0S0H7T .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sNva0S0H7T .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sNva0S0H7T .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sNva0S0H7T .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sNva0S0H7T .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sNva0S0H7T .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sNva0S0H7T .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sNva0S0H7T .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sNva0S0H7T .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-sNva0S0H7T .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-sNva0S0H7T .navbar.navbar-short {
  background: #040402 !important;
  min-height: 60px;
}
.cid-sNva0S0H7T .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sNva0S0H7T .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sNva0S0H7T .dropdown-menu {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}
.cid-sNva0S0H7T .nav-dropdown .link {
  padding: 0.4rem 1rem!important;
  margin: .2em 0.5rem;
}
.cid-sNva0S0H7T .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sNva0S0H7T .mbr-iconfont {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sNva0S0H7T .navbar-caption {
  padding-right: 4rem;
}
.cid-sNva0S0H7T .navbar-nav {
  justify-content: flex-end;
  width: -webkit-fill-available;
}
.cid-sNva0S0H7T .dropdown-menu,
.cid-sNva0S0H7T .navbar.opened {
  background: #191919 !important;
}
.cid-sNva0S0H7T .nav-item:focus,
.cid-sNva0S0H7T .nav-link:focus {
  outline: none;
}
.cid-sNva0S0H7T .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sNva0S0H7T .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sNva0S0H7T .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sNva0S0H7T .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sNva0S0H7T .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sNva0S0H7T .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
}
.cid-sNva0S0H7T .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sNva0S0H7T .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sNva0S0H7T .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sNva0S0H7T .dropdown-item.active,
.cid-sNva0S0H7T .dropdown-item:active {
  background-color: transparent;
}
.cid-sNva0S0H7T .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sNva0S0H7T .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sNva0S0H7T .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sNva0S0H7T .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #040402;
}
.cid-sNva0S0H7T .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sNva0S0H7T .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sNva0S0H7T ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sNva0S0H7T .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sNva0S0H7T button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sNva0S0H7T button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sNva0S0H7T button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sNva0S0H7T button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sNva0S0H7T button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sNva0S0H7T button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sNva0S0H7T nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sNva0S0H7T nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sNva0S0H7T nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sNva0S0H7T nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sNva0S0H7T .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-sNva0S0H7T a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sNva0S0H7T .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 160px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-sNva0S0H7T .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sNva0S0H7T .navbar {
    height: 77px;
  }
  .cid-sNva0S0H7T .navbar.opened {
    height: auto;
  }
  .cid-sNva0S0H7T .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sNva0S0H7T .nav-link {
  margin: auto!important;
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  transition: all 0.3s;
}
.cid-sNva0VwE4Z {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-sNva0VwE4Z .line {
  width: 55px;
  margin-bottom: 0.5rem;
  height: 5px;
  display: inline-block;
  background: linear-gradient(to left, #465052, #ffffff);
}
.cid-sNva0VwE4Z .btn-col {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}
@media (max-width: 767px) {
  .cid-sNva0VwE4Z .btn-col {
    justify-content: center;
  }
}
.cid-sNva0VwE4Z .mbr-text,
.cid-sNva0VwE4Z .mbr-section-btn {
  color: #999999;
}
.cid-sNva0VwE4Z p {
  margin: 0;
}
.cid-sNvakGnXjE {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sNvakGnXjE .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sNvakGnXjE .form-control,
.cid-sNvakGnXjE .field-input {
  padding: 0.5rem;
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sNvakGnXjE .form-control::-webkit-input-placeholder,
.cid-sNvakGnXjE .field-input::-webkit-input-placeholder,
.cid-sNvakGnXjE .form-control::-webkit-input-placeholder,
.cid-sNvakGnXjE .field-input::-webkit-input-placeholder {
  color: #c1c1c1;
}
.cid-sNvakGnXjE .form-control:-moz-placeholder,
.cid-sNvakGnXjE .field-input:-moz-placeholder,
.cid-sNvakGnXjE .form-control:-moz-placeholder,
.cid-sNvakGnXjE .field-input:-moz-placeholder {
  color: #c1c1c1;
}
.cid-sNvakGnXjE .form-control:hover,
.cid-sNvakGnXjE .field-input:hover,
.cid-sNvakGnXjE .form-control:focus,
.cid-sNvakGnXjE .field-input:focus {
  background-color: #cccccc;
  border-color: #000000;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sNvakGnXjE .form-control:hover::-webkit-input-placeholder,
.cid-sNvakGnXjE .field-input:hover::-webkit-input-placeholder,
.cid-sNvakGnXjE .form-control:focus::-webkit-input-placeholder,
.cid-sNvakGnXjE .field-input:focus::-webkit-input-placeholder,
.cid-sNvakGnXjE .form-control:hover::-webkit-input-placeholder,
.cid-sNvakGnXjE .field-input:hover::-webkit-input-placeholder,
.cid-sNvakGnXjE .form-control:focus::-webkit-input-placeholder,
.cid-sNvakGnXjE .field-input:focus::-webkit-input-placeholder {
  color: #c1c1c1;
}
.cid-sNvakGnXjE .form-control:hover:-moz-placeholder,
.cid-sNvakGnXjE .field-input:hover:-moz-placeholder,
.cid-sNvakGnXjE .form-control:focus:-moz-placeholder,
.cid-sNvakGnXjE .field-input:focus:-moz-placeholder,
.cid-sNvakGnXjE .form-control:hover:-moz-placeholder,
.cid-sNvakGnXjE .field-input:hover:-moz-placeholder,
.cid-sNvakGnXjE .form-control:focus:-moz-placeholder,
.cid-sNvakGnXjE .field-input:focus:-moz-placeholder {
  color: #c1c1c1;
}
.cid-sNvakGnXjE .jq-number__spin:hover,
.cid-sNvakGnXjE .jq-number__spin:focus {
  background-color: #cccccc;
  border-color: #000000;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-sNvakGnXjE .jq-number__spin {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sNvakGnXjE .jq-selectbox li,
.cid-sNvakGnXjE .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-sNvakGnXjE .jq-selectbox li:hover,
.cid-sNvakGnXjE .jq-selectbox li.selected {
  background-color: #cccccc;
  color: #000000;
}
.cid-sNvakGnXjE .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-sNvakGnXjE .jq-number__spin.minus:hover:after,
.cid-sNvakGnXjE .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-sNvakGnXjE .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-sNvakGnXjE .jq-number__spin.minus:after,
.cid-sNvakGnXjE .jq-number__spin.plus:after {
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
}
.cid-sNvakGnXjE input::-webkit-clear-button {
  display: none;
}
.cid-sNvakGnXjE input::-webkit-inner-spin-button {
  display: none;
}
.cid-sNvakGnXjE input::-webkit-outer-spin-button {
  display: none;
}
.cid-sNvakGnXjE input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-sNva0WdJ2a {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #d9dade;
  background-color: #000000;
}
.cid-sNva0WdJ2a p {
  text-align: center;
}
.cid-sNva0WdJ2a .text-copyright {
  width: 100%;
  margin-bottom: 0;
  color: #ffffff;
}
.cid-sNva0WdJ2a .img-logo-footer {
  margin-right: 1rem;
  max-width: 3rem;
}
.cid-sNva0WdJ2a .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}
.cid-sNva0WdJ2a .logo-footer {
  line-height: normal;
}
.cid-sNva0WdJ2a .copyright {
  display: flex;
  align-items: center;
}
.cid-sNva0WdJ2a .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sNva0WdJ2a .media-container-row {
  align-items: center;
  justify-content: space-between;
}
.cid-sNva0WdJ2a .icon-transition span {
  color: #82786e;
  display: block;
  text-align: center;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 1px solid #c1c2c5;
  width: 3em;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-sNva0WdJ2a .icon-transition span:hover {
  background-color: #279e64;
  color: #ffffff;
  -webkit-animation-name: animation-pulse;
  animation-name: animation-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: .9;
}
.cid-sNva0WdJ2a .social-media {
  display: flex;
  justify-content: flex-end;
}
.cid-sNva0WdJ2a .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-sNva0WdJ2a .social-media ul li {
  padding: 4px;
  display: inline-block;
}
@-webkit-keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@media (max-width: 991px) {
  .cid-sNva0WdJ2a .logo-footer {
    text-align: center;
  }
  .cid-sNva0WdJ2a .social-media {
    justify-content: center;
  }
}
