@font-face {
   font-family: 'bauhaus-93';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-24_182339/fonts/bauhaus-93/font.ttf');
}
